name: Build and Deploy to Azure

on:
  push:
    branches: 
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Publish .NET App
      run: dotnet publish -c Release -o publish

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v3
      with:
        app-name: Achievo-service
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: ./publish
