name: Build and Deploy to Azure

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Update connection string in appsettings.json
      run: |
        sed -i 's|CONNECTION_STRING_PLACEHOLDER|${{ secrets.AZURE_SQL_CONNECTION }}|g' AchievoAPI/appsettings.json
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Publish .NET App
      run: dotnet publish AchievoAPI/AchievoAPI.csproj -c Release -o ./publish

    - name: Zip publish output correctly
      run: |
        cd publish
        zip -r ../app.zip .

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: AchievoWApp
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: app.zip
